.container {
  max-width: 650px;
  margin: 0 auto;
  /* padding: 1rem; */
  /* background-color: #f4f4f4; */
  border-radius: 8px;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: .5rem;
}

.sub_heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: .88rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin: 0.5rem 0 0.25rem;
  font-weight: bold;
}

.form input,
.form textarea {
  padding: 0.5rem 0;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form button {
  margin-top: 1rem;
  padding: 0.75rem 0;
  background-color: #086c3c;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--hover);
}
